@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,700,900');

.CD-images li{
	overflow: hidden;
}

.CD-images img{
	transition: 0.5s;
}

.CD-images img:hover{
	transition: transform .6s cubic-bezier(.19,1,.22,1);
	transform: translate(0,-50%) scale(1.1);
    transition-duration: 1s;
}

@media (max-width: 840px) {
	.CD-images img:hover{
		transform: translate(-50%,0) scale(1.1);
	}
}

.background-line:before{
    height: 1px;
    width: 122.3vw;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(14,24,45,.1);
    -ms-transform: translate(-50%,-50%) rotate(-36deg);
    transform: translate(-50%,-50%) rotate(-36deg);
    pointer-events: none;
    transition: opacity .5s cubic-bezier(.19,1,.22,1);
}
.left-line:before{
    content: '';
    position: absolute;
    left: 7px;
    top: calc(2rem + 20px);
    width: 4rem;
    height: 1px;
    background: rgba(0,0,0,.2);
}
body, ul, li{
	font-weight: 100;
	font-size: 20px;
}
body{
	overflow-y: overlay;
    padding-right: 16px;
    box-sizing: border-box;
}
a{
	color: #0099CC !important;
}
p, ul, li{
	font-size: inherit;
	font-weight: inherit;
}
b{
	font-weight: 700 !important;
}
h1, h2, h3, h4 {
	font-weight: 100;
	/*text-transform: uppercase;*/
}
#simple-dialog-title h2{
	font-size: 2rem;
	font-weight: 500;
	color: #000;
	font-family: "Rajdhani";
}
#bannerHolder{
	height: 100vh;
}
.imageBtn{
	transition: background-color 250ms ease-in;
}
.imageBtn:hover{
	background-color: rgba(43, 89, 130, 0) !important;
}
.imageBtn.active{
	background-color: rgba(43, 89, 130, 0) !important;
}
.resources-glossary>div:nth-child(2) {
	min-width: 450px;
	max-width: 450px;
	overflow: hidden;
}
.glossary-active-term{
	min-width: 450px;
	max-width: 450px;
}
.directions{
    font-style: italic;
    color: #3f7eb5;
}
.objective{
	padding: 10px 0;
}
.section-title{
	margin-top: 0px;
	font-size: 45px;
	font-family: Rajdhani;
	font-weight: 700;
	color: #00258f;
	text-transform: uppercase;
}
.layoutDiv{

}
.caret_down{
	position: absolute;
    top: 30px;
    left: 13px;
    height: 0px;
    width: 0px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 15px solid #ffffff;
    transform: rotate(-90deg);
}
.truncate h3{
	font-size: 1.2rem;
}
.truncate, .truncate h1, .truncate h2, .truncate h3, .truncate p{
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	max-width: 100% !important;
	overflow: hidden !important;
}
.relative{
	position: relative;
}
section {
	background-color: #fff;
	overflow: hidden;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.shadowSection{
	transition: all 500ms ease-in;
	padding: 60px 15px;
	min-height: 300px;
	box-shadow: rgba(128, 128, 128, 0.3) 0px 0px 100px inset;
	color: rgb(137, 137, 137);
	background: rgb(236, 236, 236);
}
.continueDirections{
	color: rgb(137, 137, 137);
	font-style: italic;
}
.text-center{
	text-align: center;
}
.img-responsive{
	max-width: 100%;
}
.img-title{
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	font-weight: 100;
	left: 0;
	color: #fff;
	padding-top: 30%;
	text-transform: uppercase;
}
.img-labeled{
	cursor: pointer;
}
.img-labeled:before{
	content: ' ';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom,#2c2c2c,#030303);
	opacity: .6;
	transition: opacity 300ms ease-in-out;
}
.img-labeled:hover:before{
	opacity: 0;
}
.sidebar-icon:after{
	content: " ";
	background: #ccc;
	height: 100%;
	width: 3px;
	position: absolute;
	top: 8px;
	left: 23px;
	overflow: hidden;
	margin-bottom: 16px;
	z-index: 998;
}
.sidebar-icon-mobile:after{
	left: 28px;
	top: 12px;
}
.activeSection{
	color: #0099CC !important;
	font-weight: bold;
}
.activeSectionIcon span{
	background: #0099CC !important;
	color: #0099CC !important;
}
.speech-bubble ul li, .speech-bubble p{
	font-weight: 200;
    line-height: 24px;
}
.speech-bubble p{
	margin: 14px 0 0;
}
.speech-bubble{
	padding-top:60px;
	position: relative;
	background: #fff;
	width: auto;
	margin: 70px auto;
	padding: 20px;
	max-width: 400px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px rgba(0,0,0,.4);
	font-weight: 200;
}
.speech-bubble-left .caret{
	position: absolute;
	top: 30px;
	left: -6%;
	height: 0px;
	width: 0px;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
	border-right: 28px solid #ffffff;
}
.speech-bubble-right{
	box-shadow: 3px 3px 10px rgba(0,0,0,.4);
}
.speech-bubble-right .caret{
	position: absolute;
	top: 30px;
	right: -6%;
	height: 0px;
	width: 0px;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
	border-left: 28px solid #ffffff;
}
.speechIcon{
	text-align: center;
}
.speechIcon .material-icons{
	font-size: 35px;
	color: rgb(102, 204, 51);
}




.example-enter {
	position: relative;
	top: 200px;
	opacity: 0.01;
}

.example-enter.example-enter-active {
	opacity: 1;
	top: 0px;
	transition: opacity 500ms ease-in, top 500ms ease-in;
}

.example-leave {
	opacity: 1;
}

.example-leave.example-leave-active {
	opacity: 0.01;
	top: 200px;
	transition: opacity 300ms ease-in, top 300ms ease-in;
}




.modal-enter {
	opacity: 0.01;
	transform: scale(.95) translateY(10px);
}

.modal-enter.modal-enter-active {
	opacity: 1;
	transform: scale(1) translateY(0px);
	transition: all .15s ease-out;
}

.modal-leave {
	opacity: 1;
}

.modal-leave.modal-leave-active {
	opacity: 0.01;
	transform: scale(.95) translateY(10px);
	transition: all .15s ease-out;
}






.collapsed{
	transition: height 500ms ease-in, opacity 700ms ease-in;
	opacity: 0.01;
	height: 0%;
	overflow: hidden;
}
.expanded{
	transition: height 500ms ease-out, opacity 700ms ease-in;
	opacity: 100;
	height: 100%;
	overflow: hidden;
}

.par-meter:before, .legendText:before{
	display: inline-block;
	position: relative;
	margin-top: -6px;
	vertical-align: middle;
	height: 1px;
	width: 50%;
	background-color: #fff;
	content: "";
	right: 20px;
	margin-left: -50%;
}
.par-meter:after, .legendText:after{
	display: inline-block;
	position: relative;
	margin-top: -6px;
	vertical-align: middle;
	height: 1px;
	width: 50%;
	background-color: #fff;
	content: "";
	left: 20px;
	margin-right: -50%;
}

.golfBall:after{
	display: inline-block;
	position: relative;
	margin-top: -42px;
	vertical-align: middle;
	height: 1px;
	width: 50%;
	max-width: 222px;
	background-color: #ccc;
	content: "";
	left: 20px;
	margin-right: -50%;
}

.golfBall:before{
	display: inline-block;
	position: relative;
	margin-top: -42px;
	vertical-align: middle;
	height: 1px;
	width: 50%;
	max-width: 222px;
	background-color: #ccc;
	content: "";
	right: 20px;
	margin-left: -50%;
}
.golfBall span{
    color: rgb(137, 137, 137) !important;
    font-size: 60px !important;
}
.fullWidth{
	width: 100%;
}
.quote-cont{
	padding: 40px 15px 30px 30px;
}
.quote{
	color: #0099CC;
	margin: 0px;
	margin-bottom: 1.875rem;
	font-weight: 900;
	font-size: 2.6rem;
	line-height: 2.7rem;
}

.full-control{
	display: flex;
	padding-top: 10px;
}

.audioSeekbar div{
	transition: none !important;
	background-color: #2433f7;
}

/*FlipBook*/
.flipbook-viewport{/*
	overflow:hidden;*/
}

.flipbook-viewport .container{
	margin:auto;
}
/**/
.flipbook-viewport .flipbook{
	width:1200px;
	height:828px;
}

.flipbook-viewport .page{
	width:600px;
	height:828px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.flipbook .hard{
	background:#ccc !important;
	color:#333;
	-webkit-box-shadow:inset 0 0 5px #666;
	-moz-box-shadow:inset 0 0 5px #666;
	-o-box-shadow:inset 0 0 5px #666;
	-ms-box-shadow:inset 0 0 5px #666;
	box-shadow:inset 0 0 5px #666;
	font-weight:bold;
}
/*End FlipBook*/

.bookmark{
	position: absolute;
	right: -100px;
	top: 0;
	background: #0099CC;
	color: #fff;
	padding: 5px 7.5px;
}
.bookmark .caret{ /*not used*/
	position: absolute;
	top: 0;
	left: -10px;
	height: 0px;
	width: 0px;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-right: 10px solid #0099CC;
}
.instructions{
	font-weight: 900;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -20px !important;
    margin-right: -20px !important;
    margin-bottom: -20px !important;
    padding: 15px 20px 15px;
    background-color: rgba(146, 146, 146, 0.15);
    color: #0099CC;
}

.section-caret{
    z-index: 1;
    position: absolute;
    bottom: -40px;
    right: calc(50% - 40px);
    height: 0px;
    width: 0px;
	border-top: 40px solid #2b5982;
	border-bottom: 0px solid transparent;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
}

.carouselPanel_NEXT-enter {
	transform: translate(100%);
	opacity: 0;
}

.carouselPanel_NEXT-enter.carouselPanel_NEXT-enter-active {
	transform: translate(0%);
	opacity: 1;
	transition: transform 800ms ease-in-out, opacity 800ms ease-in-out;
}

.carouselPanel_NEXT-leave {
	transform: translate(0%);
}

.carouselPanel_NEXT-leave.carouselPanel_NEXT-leave-active {
	transform: translate(-100%);
	opacity: 0;
	transition: transform 800ms ease-in-out, opacity 800ms ease-in-out;
}

.carouselPanel_BACK-enter {
	transform: translate(-100%);
	opacity: 0;
}

.carouselPanel_BACK-enter.carouselPanel_BACK-enter-active {
	transform: translate(0%);
	opacity: 1;
	transition: transform 800ms ease-in-out, opacity 800ms ease-in-out;
}

.carouselPanel_BACK-leave {
	transform: translate(0%);
}

.carouselPanel_BACK-leave.carouselPanel_BACK-leave-active {
	transform: translate(100%);
	opacity: 0;
	transition: transform 800ms ease-in-out, opacity 800ms ease-in-out;
}

/*Content Queries*/
@media (max-width: 1280px) {
	.speech-bubble{
		margin-top: 70px;
	}
}
@media (max-width: 960px) {

}
@media (max-width: 840px) {

}
@media (max-width: 600px) {
	.fullScreenModal{
		padding: 15px !important;
	}
	.caret{
		display: none;
	}
	.speech-bubble{
		margin-top: 0px;
		max-width: none;
		box-shadow: none;
		border-radius: 0px;
	}
	.toolbarTitle{
		display: none
	}
	.speech-bubble{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.sidebar-container{
		width: 100vw;
		max-width: 100vw !important;
		top: 48px !important;
	}
	.sidebar-list{
		display: inline-flex;
		justify-content: space-around;
		width: 100vw;
	}
	.sidebar-item{
		display: flex;
	}
	.svg-sim {
		overflow: auto;
	}
	.svg-sim svg{
		min-width: 1000px;
	}
}
@media (max-width: 480px) {

}
/*Only container Queries*/
.banner-container{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.container{
	width: 100%;
	max-width: 1200px;
}
@media (min-width: 600px) {
	.container, .banner-container{
		max-width: 560px;
	}
}
@media (min-width: 840px) {
	.container, .banner-container{
		max-width: 800px;
	}
}
@media (min-width: 960px) {
	.container, .banner-container{
		max-width: 920px;
	}
}
@media (min-width: 1280px) {
	.container{
		max-width: 1200px;
	}
	.banner-container{
		max-width: 1000px;
	}
}

 /* MDL BreakPoints: 480, 600, 840, 960, 1280, 1440, and 1600dp.*/
